@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

html {
    scroll-behavior: smooth;
}

#landingPageLarge {
    width: 100%;
    height: 100vh;
}

#section1 {
    height: 100%;
    width: 100%;
    background-image: url('../../assets/images/fingerstouchinglarge.jpg');
    background-size: cover;
    font-family: 'El Messiri', sans-serif;
}

.section1Text {
    left: 3%;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    margin-left: 2%;
}

#section2 {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgb(98, 180, 160);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
}

#aboutText {
    width: 30%;
    height: 40%;
    position: relative;
    font-family: 'El Messiri', sans-serif;
    text-align: center;
}

#aboutTextHello {
    font-size: 40px;
    margin: 0 auto;
}

#aboutTextText {
    text-align: left;
}

#portIcon {
    width: 20%;
}

#section3 {
    height: 100%;
    width: 100%;
    background-color: rgb(177, 110, 110);
    font-family: 'El Messiri', sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.projectLists {
    height: 60%;
    width: 20%;
    font-size: 30px;
}

.projectLists a {
    color: white;
}